<% if !current_user.nil? %>
	<% if current_user.id== 5 %>
		<div class="message">
			<center>
				<div>
					<h1>五十嵐先輩へ</h1>
					<p class="messe">


					今まで２年間本当にありがとうございました。<br><br><br><br>

					今年は寄せ書きとかを作りそうになかったのでこのような形で自分からのメッセージを伝えたいと思います。<br><br><br><br>



					はじめの方の頃のことを覚えていますか？<br><br>
					自分は先輩に対して優しそうな先輩だなって思いました。<br><br>
					思った通り先輩は優しかったですし、接しやすかたです。<br><br>
					会長として上に立つ人が、なんて言い表したら良いかわからないですか、先輩みたいな人が会長でとてもよかったと思います。<br><br>
					先輩のいいなって思ったところを見習って行きたです。<br><br>
					先輩には迷惑をたくさんかけて、色々と手伝ってもらったりしました。本当に感謝してます。<br><br>


					自分文章力ないので、書ききれないほど、伝えたいことや感謝しても感謝しきれないことがたくさんあります。<br><br>
					今まで本当にありがとうございました。<br><br>
					これからも頑張ってください！<br><br>
					それから、これからも仲良くしてください。よろしくお願いします。<br><br>


					</p>
				</div>
				<div>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jVLdwZZqxJQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</center>
		</div>
	<% else %>
		error
	<% end %>
<% else %>
<% end %>
