<% if !current_user.nil? %>
	<% if current_user.id== 4 %>
		<div class="message">
			<center>
				<div>
					<h1>常住先輩へ</h1>
					<p class="messe">

					今まで２年間本当にありがとうございました。<br><br><br><br>

					今年は寄せ書きとかを作りそうになかったのでこのような形で自分からのメッセージを伝えたいと思います。<br><br><br><br>


					自分が一年生だったときの文化祭のときの事覚えてますか？<br><br>
					文化祭期間で学校に来てたとき、ゴミ箱がいっぱいで「一年生ゴミすて」って言ったあのときのことを。<br><br>
					俺が先輩に「手に持ってるんならそのまま先輩が行けばw」みたいな事言ったことを…<br><br>
					今更ですが、ずっと言えなかったんで今言いますね。<br><br>
					先輩が行けばなんて正直に言うとそんなこと思ってなくて、俺的には軽い冗談で、それまであんまり話してなかったからこれをきっかけにくらいに思ってたんだと思います。<br><br>
					あと、本当これは最近気づいたんですけど、自分大阪育ちだったんですね。<br><br>
					向こうではそれくらいみんな平気で言ってたからこっちでもなんでもないと当時は思ってました。<br><br>
					多分めっちゃ気にされてましたよね？本当にごめんなさい。<br><br>
					それがあったせいか、あんまり先輩と話せなくて自分的に少し残念でした。<br><br>
					ほんとはもう少し仲良くしたかったです。<br><br>



					自分文章力ないので、書ききれないほど、伝えたいことや感謝しても感謝しきれないことがたくさんあります。<br><br>
					今まで本当にありがとうございました。<br><br>
					これからも頑張ってください！<br><br>
					それから、これからも仲良くしてください。よろしくお願いします。<br><br>


					</p>
				</div>
				<div>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/jVLdwZZqxJQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</center>
		</div>
	<% else %>
		error
	<% end %>
<% else %>
<% end %>
